
.flight-panel {
    background-color: rgb(70, 125, 187);
    border-radius: 25px;
    /* min-width: 525px; */
    height: 180px;
    width: 100%;
    border: white 3px solid;
    color: white;
}

.flight-container {
    display: flex;
    width: 100%;
}

.left-panel {
    flex: 1;
    margin: 0;
}

#from {
    margin-top: 30px;
}

#to {
    margin-top: 30px;
}

.center-panel {
    /* flex: 1;
    margin: 0; */
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.right-panel {
    flex: 1;
    margin: 0;
}

#from-code {
    margin-bottom: 0px;
    font-size: 200%;
}

#to-code {
    margin-bottom: 0px;
    font-size: 200%;
}

.flight-container {
    justify-content: center;
    width: 100%;
    display: flex;
}

.flight-icon {
    width: 40%;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-top: 0px;
}

/* #flight-code {
    font-size: 150%;
    margin-right: 0px;
    margin-bottom: 0px;
} */

.flight-date-time {
    width: 100%;
    margin-top: 20px;
}